img{
    align-items: center;
    padding-top: 30%;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 20%;
    height: 50ex;
    width: 80ex;
  
}

ion-button{
    --padding: 40px;
    position: bottom;

}

ion-content{
    --background:white;
}

p{
    padding-block: 40px;
    font-size: 30px;
}

