<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      <b><center>CowinApp VaccineSlot Finder</center></b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">

  <form #form="ngForm" novalidate>
    <ion-grid> 
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <img src="assets/images/covid19logo.jpg" alt="Covid19 logo" />
            <h3><b><Center>CowinApp VaccineSlot Finder!!</Center></b></h3>
          </div>
          <div padding>
            <ion-list>
              <ion-item class = "box">
                <ion-label>Your State:</ion-label>
                <ionic-selectable
                [(ngModel)]="state_model"
                [items]="states"
                itemValueField="state_id"
                itemTextField="state_name"
                [canSearch]="true"
                (onChange)="portChange($event)" >
                </ionic-selectable>              
            </ion-item>
            <ion-item class="box">
              <ion-label>Your District:</ion-label>
              <ionic-selectable
                [(ngModel)]="district_model"
                [items]="districts"
                itemValueField="district_id"
                itemTextField="district_name"
                [canSearch]="true"
                (onChange)="portChange($event)">
              </ionic-selectable>              
            </ion-item> 
            <ion-item class="box">
              <ion-label>Date:</ion-label>
              <ion-datetime placeholder="Choose Date" name="date" [(ngModel)]="date" min="2021" max="2023" displayFormat="DD-MM-YYYY" (ionChange)="changeFormat(date)"></ion-datetime>    
            </ion-item> 
          </ion-list>    
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block" color="secondary" (click)="getvaccineSlotBydistrict()">Get Me a Slot!</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <hr>
  <h3><center><b>OR</b></center></h3>
  
  <form #form ="ngForm" >
    <ion-grid> 
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item class="box">
              <ion-label>Your PinCode:</ion-label>
          <ion-input type="text" name="title" [(ngModel)]="pincode"></ion-input>
          </ion-item>
          <ion-item class="box">
            <ion-label>Date:</ion-label>
            <ion-datetime placeholder="Choose Date" name="date" [(ngModel)]="date" min="2021" max="2023" displayFormat="DD-MM-YYYY" (ionChange)="changeFormat(date)"></ion-datetime>
          </ion-item>          
          </div>
          <div padding>
            <ion-button  size="large" type="submit" expand="block" color="secondary" (click)="getVaccineSlotByPin()">Submit</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <h3><center><b>AND</b></center></h3>

      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3><b><Center>Some helpful resources related to COVID-19</Center></b></h3>
            <div padding>
              <ion-button  size="medium" type="submit" expand="block" color="secondary" (click)="openPdfDoc()">DO's and DONT's related to COVID-19</ion-button>
              <ion-button  size="medium" type="submit" expand="block" color="secondary" (click)="openCovidDashboard()" >COVID-19 India data Dashboard</ion-button>
              <ion-button  size="medium" type="submit" expand="block" color="secondary" (click)="openVaccineInfo()" >India's Vaccine related Info</ion-button>
              <ion-button  size="medium" type="submit" expand="block" color="secondary" (click)="faqRelatedToVaccine()" >FAQ's Related to Vaccines</ion-button>
          </div>
          </div>
          </ion-col>
          </ion-row>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                <h3><Center>Remember:</Center></h3>
                <h3><b><Center>DO MASK ON BEFORE YOU MOVE ON!!</Center></b></h3>
                </div>
                </ion-col>
                </ion-row>
                </ion-grid>
                </form>
                <footer>
                  <h3><b><Center>Let's get Connected</Center></b></h3>  
                  <ion-row color="primary" justify-content-center>
                    <svg (click)="openMyTwitter()" id="svgelem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-3" title="Twitter" alt="Twitter" class="at-icon at-icon-twitter" style="width: 32px; height: 32px;"><title id="at-svg-twitter-3">Twitter</title><g><path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd"></path></g></svg>                   
                     <svg (click)="openMyLinkedIn()" id="svgelem" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0v24h24v-24h-24zm8 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.397-2.586 7-2.777 7 2.476v6.759z"/></svg>                    
                    <svg (click)="openMyGithub()" id="svgelem" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                    </ion-row>
                  </footer>
                </ion-content>
